html{
    background-color: #808080;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    color: white
}

body #result{
    display: flex;
    flex-direction: column; 
    color: white
}
#btn {
    background-color: white;


}
a {
    color: white;
}